<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flixter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8E7AEDD285A4B5F001CE956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E7AEF8285A4B60001CE956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E7AF02285A4B60001CE956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
